@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;600&display=swap');

html {
  background-color: #333336;
}

body {
  font-family: 'Poppins', sans-serif;
  font-weight: 800;
}